[submodule "native/imgui/imgui"]
	path = native/imgui/imgui
	url = https://github.com/ocornut/imgui
[submodule "integ"]
	path = integ
	url = https://github.com/okuoku/em2native-integ
[submodule "ribbon-integ"]
	path = ribbon-integ
	url = https://github.com/okuoku/ribbon-integ
[submodule "ext/platform/libuv"]
	path = ext/platform/libuv
	url = https://github.com/libuv/libuv
[submodule "ext/platform/whereami"]
	path = ext/platform/whereami
	url = https://github.com/gpakosz/whereami
